# For PCBs designed using KiCAD: http://www.kicad-pcb.org/

# Cache files
*.mdc

# Temporary files
*.000

# Backup Files
*.bak
*.bck
*.kicad_pcb-bak

# Netlist files (exported from Eeschema)
*.net
*.lst

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

invoices/